# Environment / secrets — NEVER commit this
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual environment
payrollvenv/

# Django
db.sqlite3
*.log
media/

# IDE
.vscode/
.idea/
